.container {
    width: 100%;
    padding: 20px;
}

.container > * {
    margin-bottom: 20px;
}

.slider {
    width: 100%;
}

#color {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}